body {
    padding: 5px;
    font-family: sans-serif;
}

.settings {
    display: inline-block;
    padding: 7.5px;
    border-color: cadetblue; border-style: solid; border-radius: 5px;
    background-color: cadetblue;
    font-size: small; color: white;
}

.tbadata {
    font-size: medium;
    line-height: 175%;
}