body {
    padding: 5px;
    font-family: sans-serif;
}

#infoDiv {
    display: inline-block;
    padding: 7.5px;
    width: auto;
    border-color: cadetblue;
    border-style: solid;
    border-radius: 5px;
    background-color: cadetblue;
    font-size: small;
    color: white;
    overflow: hidden;
}

#logoDiv {
    background: url(https://www.thebluealliance.com/images/tba_lamp.svg) no-repeat center center;
    height: 60px;
    width: 50px;
    background-size: auto 50px;
    float: left;
    margin-right: 10px;
}

#settingDiv {
    overflow: hidden;
    float: right;
}

#dataDiv {
    font-size: medium;
    line-height: 175%;
}